.hidden { display: none }

#principal {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
}
section {
  width: 80%;
  float: left;
  min-height: 500px;
}

aside {
  width: 20%;
  float: right;
}

footer {
  clear: both;
}

